


  /* Mobile devices (max-width: 768px) */
  
  @media only screen and (max-width: 768px) {
    .header-background {
      min-height: 100vh;
      padding-bottom: 50px;
    }
    .header-background::before {
      background-position: center;
    }
    .logo {
      height: 150px;
      width: 150px;
    }
    .title {
      font-size: 30px;
    }
    .about_section {
      height: auto;
    }
    .global {
      flex-direction: column;
      height: auto;
    }
    .global-image {
      width: 100%;
    }
    .global-image img {
      width: 100%;
      height: auto;
    }
    .flags-container {
      flex-wrap: wrap;
      justify-content: center;
    }
    .flag {
      width: 50px;
      margin: 10px;
    }
    .products-section {
      height: auto;
    }
    div.gallery {
      width: 100%;
    }
    div.gallery img {
      width: 100%;
    }
    .vision_section {
      height: auto;
      padding-bottom: 20px;
      padding-top: 10px;
      flex-direction: column;
    }
    .vision-image {
      width: 35%;
    }
    .vision-image img {
      width: 100%;
      height: auto;
    }
    .core_section {
      height: auto;
      padding-bottom: 20px;
      padding-top: 10px;
      flex-direction: column;
    }
    .core-image {
      width: 35%;
    }
    .core-image img {
      width: 100%;
    }
    #connect {
      padding-bottom: 20px;
      padding-top: 10px;
    }
    .social-buttons {
      padding-bottom: 20px;
      padding-top: 10px;
    }
    .location-wrapper {
      flex-direction: column;
    }
    .header-logo {
      width: 50px;
      height: 50px;
    }
    .header-logo img {
      width: 50px;
      height: 50px;
    }
    header nav {
      padding: 10px;
    }
    header nav.navbar {
      padding: 0;
    }
    header .bg-body-tertiary {
      padding-top: 50px !important;
    }
    .footer-section {
      padding: 20px 0 0;
    }
    .copyright {
      padding: 5px 0;
    }
    h2.section-title {
      font-size: 30px;
    }
    section {
      padding: 40px 0;
    }
    .products_wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
    .responsive {
      width: 45%;
      flex: none;
    }
    h2.content-heading,
    .core_label {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      display: block;
    }
    .about_text {
      padding: 0;
    }
    div.container {
      padding: 0 20px;
    }
    div.container .container {
      padding: 0;
    }
    header nav.navbar .nav-item {
      padding: 0 20px;
    }
    #navbarExample01.active-class {
      display: block;
    }
  }
  
  /* Tablets (min-width: 769px) and (max-width: 1024px) */
  
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header-background {
      min-height: 100vh;
      padding-bottom: 70px;
    }
    .header-background::before {
      background-position: center;
    }
    .logo {
      height: 200px;
      width: 200px;
    }
    .title {
      font-size: 40px;
    }
    .about_section {
      height: auto;
    }
    .global {
      flex-direction: row;
      height: auto;
    }
    .global-image {
      width: 50%;
    }
    .global-image img {
      width: 100%;
      height: auto;
    }
    .flags-container {
      flex-wrap: wrap;
      justify-content: center;
    }
    .flag {
      width: 70px;
      margin: 15px;
    }
    .products-section {
      height: auto;
    }
    div.gallery {
      width: 100%;
    }
    div.gallery img {
      width: 100%;
    }
    .vision_section {
      height: auto;
      padding-bottom: 30px;
      padding-top: 20px;
      flex-direction: column;
    }
    .vision-image {
      width: 35%;
    }
    .vision-image img {
      width: 100%;
      height: auto;
    }
    .core_section {
      height: auto;
      padding-bottom: 30px;
      padding-top: 20px;
      flex-direction: column;
    }
    .core-image {
      width: 35%;
    }
    .core-image img {
      width: 100%;
      height: auto;
    }
    #connect {
      padding-bottom: 30px;
      padding-top: 20px;
    }
    .social-buttons {
      padding-bottom: 30px;
      padding-top: 20px;
    }
    h2.section-title {
      font-size: 30px;
    }
    section {
      padding: 40px 0;
    }
    .products_wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
    .responsive {
      width: 45%;
      flex: none;
    }
    h2.content-heading,
    .core_label {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
    }
    .about_text {
      padding: 0;
    }
    div.container {
      padding: 0 20px;
    }
    div.container .container {
      padding: 0;
    }
    header nav.navbar .nav-item {
      padding: 0 20px;
    }
    #navbarExample01.active-class {
      display: block;
    }
  }